<div class="row">
  <div class="col-md-10 col-xs-12">
    <div id="chessboard" class="chessboard">
      <div class="players">
        <div class="player">
          <icon class="user-status user-status-<%= current_user.status %>"></icon><%= current_user.email %>
        </div>
        <div class="player">
          <icon class="user-status user-status-<%= current_user.status %>"></icon><%= current_user.email %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12">
  <div>
    <%= link_to 'Return', destroy_user_session_path, method: :delete, id: 'btn-return' %>
    <button id="btn-start" class="disabled" disabled>Start</button>
    <button id="btn-back" class="disabled" disabled>Back</button>
    <button id="btn-save" class="disabled" disabled>Save</button>
  </div>
</div>

<script>
  App.PlayerStore.fetch();
  App.chessboard = new App.Chessboard({
    element: $('#chessboard')
  });
  $('#btn-start').click(function() {
    App.game_wathcher.start();
    $(this).prop('disabled', true).addClass('disabled');
  });
</script>
