<!DOCTYPE html>
<html>
  <head>
    <title>FiveInRow</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>
    <div>
      <% if current_user %>
        <%=  current_user.email %> <%= link_to 'SignOut', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <script>
      (function() {
        if (!!<%= current_user.present? %>) {
          window.currentUser = <%= raw current_user.to_json %>;
        }
      })();
    </script>
  </body>
</html>
